# Pandas - DataFrame

DataFrame is two dimensional data structure but each column is assumed to be a different type.

Benefits of data Frame over 2-D Array [numpy]
1. 2-D numpy consists of same data dtype where as DataFrame consists of diff data type in eahc column
2. DataFrame have indexes similar to Panda' Series. Index value for each row and name for each column.

In [7]:
import pandas as pd

# creating Dataframe

- create DataFrame out of dict mapping column names to value

In [8]:
df_1 = pd.DataFrame({'A':[0,1,2],'B':[3,4,5]})
print(df_1)

   A  B
0  0  3
1  1  4
2  2  5

- creat DataDrame using list of lists or 2D Numpy Array

In [9]:
df_2 = pd.DataFrame([[0,1,2],[3,4,5]],columns= ['A','B','C'])

print(df_2)

   A  B  C
0  0  1  2
1  3  4  5

## Accessing

1. Accessing rows two ways
- loc : using index
- iloc : using position
<br>
2. Accessing column
- df_1[0]
- df_1['column_name']

In [1]:
import pandas as pd

ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [2]:
print(ridership_df)

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [4]:
ridership_df.mean()

R003    1071.2
R004    2814.9
R005    2718.8
R006    3239.9
R007    1868.2
dtype: float64

In [10]:
ridership_df.iloc[0]

R003    0
R004    0
R005    2
R006    5
R007    0
Name: 05-01-11, dtype: int64

In [11]:
ridership_df.loc['05-05-11']

R003    1608
R004    4802
R005    3932
R006    4477
R007    2705
Name: 05-05-11, dtype: int64

In [18]:
ridership_df['R003']

05-01-11       0
05-02-11    1478
05-03-11    1613
05-04-11    1560
05-05-11    1608
05-06-11    1576
05-07-11      95
05-08-11       2
05-09-11    1438
05-10-11    1342
Name: R003, dtype: int64

In [24]:
ridership_df.iloc[:,0]

05-01-11       0
05-02-11    1478
05-03-11    1613
05-04-11    1560
05-05-11    1608
05-06-11    1576
05-07-11      95
05-08-11       2
05-09-11    1438
05-10-11    1342
Name: R003, dtype: int64

## Accessing multiple rows

In [14]:
ridership_df.iloc[1:4]

          R003  R004  R005  R006  R007
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613

## Accessing Multiple columns

In [16]:
ridership_df[['R003','R005']]

          R003  R005
05-01-11     0     2
05-02-11  1478  3674
05-03-11  1613  3991
05-04-11  1560  3826
05-05-11  1608  3932
05-06-11  1576  3909
05-07-11    95   255
05-08-11     2     1
05-09-11  1438  3589
05-10-11  1342  4009

## Accessing with Axis

- axis = 0 is column
- axis = 1 is row

In [17]:
print(df_1)

   A  B
0  0  3
1  1  4
2  2  5

In [18]:
df_1.sum(axis = 0)

A     3
B    12
dtype: int64

In [19]:
df_1.sum(axis = 1)

0    3
1    5
2    7
dtype: int64

#####  to Calculate sum of all elements in DataFrame

In [23]:
df_1.values

array([[0, 3],
       [1, 4],
       [2, 5]], dtype=int64)

In [24]:
df_1.values.sum()

15

Fill in this function to find the station with the maximum riders on the
    first day, then return the mean riders per day for that station. Also
    return the mean ridership overall for comparsion.
    
    This is the same as a previous exercise, but this time the
    input is a Pandas DataFrame rather than a 2D NumPy array.

In [5]:
ridership_df

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [14]:
max_column = ridership_df.iloc[0,:].argmax()

In [15]:
print(max_column)

3

In [16]:
ridership_df.values.mean()

2342.6

In [30]:
ridership_df.iloc[:,max_column].mean()

3239.9

In [28]:
def mean_riders_for_max_station(ridership):
    max_station = ridership.iloc[0].argmax()
    overall_mean = ridership.values.mean()
    mean_daily_riders = ridership.iloc[:,max_station].mean()
    return (overall_mean , mean_daily_riders)

In [29]:
print(mean_riders_for_max_station(ridership_df))

(2342.6, 3239.9)