## Series or DataFrame with ** Single List **
 ## Creat & access
 ### >> Each elem in List Goes vertical

In [1]:
import pandas as pd

In [13]:
pd1_1 = pd.Series([1,2,3,4])
pd1_1

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
pd1_2 = pd.Series([1,2,3,4],index=['row1','row2','row3','row4'])
pd1_2

row1    1
row2    2
row3    3
row4    4
dtype: int64

In [16]:
pd1_1[0]

1

In [19]:
pd1_1.loc[0]

1

In [17]:
pd1_1.iloc[0]

1

In [20]:
pd1_2[0]

1

In [22]:
pd1_2.loc['row1']

1

In [24]:
pd1_2.iloc[0]

1

In [14]:
df1_1 = pd.DataFrame([1,2,3,4])
df1_1

   0
0  1
1  2
2  3
3  4

In [15]:
df1_2 = pd.DataFrame([1,2,3,4],index=['row1','row2','row3','row4'])
df1_2

      0
row1  1
row2  2
row3  3
row4  4

In [25]:
df1_1[0]

0    1
1    2
2    3
3    4
Name: 0, dtype: int64

In [26]:
df1_1.iloc[0]

0    1
Name: 0, dtype: int64

In [27]:
df1_1.loc[0]

0    1
Name: 0, dtype: int64

In [28]:
df1_2[0]

row1    1
row2    2
row3    3
row4    4
Name: 0, dtype: int64

In [29]:
df1_2.loc['row1']

0    1
Name: row1, dtype: int64

In [30]:
df1_2.iloc[0]

0    1
Name: row1, dtype: int64

## Series or DataFrame with **  List of Lists **
 ## Creat & access
 ### >> Each list goes Vertically

In [32]:
pd2_1 = pd.Series([[1,2,3],[4,5,6]])
pd2_1

0    [1, 2, 3]
1    [4, 5, 6]
dtype: object

In [33]:
pd2_2 = pd.Series([[1,2,3],[4,5,6]], index= ['row1','row2'])
pd2_2

row1    [1, 2, 3]
row2    [4, 5, 6]
dtype: object

In [41]:
pd2_1[0]

[1, 2, 3]

In [43]:
pd2_1.iloc[0]

[1, 2, 3]

In [45]:
pd2_1.loc[0]

[1, 2, 3]

In [46]:
pd2_2[0]

[1, 2, 3]

In [47]:
pd2_2.iloc[0]

[1, 2, 3]

In [48]:
pd2_2.loc['row1']

[1, 2, 3]

In [49]:
pd2_2[0][0]

1

In [50]:
pd2_2.loc['row1'][0]

1

In [51]:
pd2_2.iloc[0][0]

1

In [58]:
df2_1 = pd.DataFrame([[1,2,3],[4,5,6]])
df2_1

   0  1  2
0  1  2  3
1  4  5  6

In [60]:
df2_2 = pd.DataFrame([[1,2,3],[4,5,6]], index= ['row1','row2'])
df2_2

      0  1  2
row1  1  2  3
row2  4  5  6

In [61]:
df2_3 = pd.DataFrame([[1,2,3],[4,5,6]], index= ['row1','row2'],columns = ['col1','col2','col3'])
df2_3

      col1  col2  col3
row1     1     2     3
row2     4     5     6

In [63]:
df2_1[0]

0    1
1    4
Name: 0, dtype: int64

In [62]:
df2_1.iloc[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [64]:
df2_1.loc[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [65]:
df2_1.loc[0][1]

2

In [67]:
df2_1.iloc[0,1]

2

In [70]:
df2_1[0][0]

1

In [71]:
df2_2[0]

row1    1
row2    4
Name: 0, dtype: int64

In [72]:
df2_2[0]['row1']

1

In [73]:
df2_2.loc['row1']

0    1
1    2
2    3
Name: row1, dtype: int64

In [74]:
df2_2.iloc[0]

0    1
1    2
2    3
Name: row1, dtype: int64

In [77]:
df2_3['col1']

row1    1
row2    4
Name: col1, dtype: int64

In [78]:
df2_3.loc['row1']

col1    1
col2    2
col3    3
Name: row1, dtype: int64

In [79]:
df2_3.iloc[0]

col1    1
col2    2
col3    3
Name: row1, dtype: int64

In [80]:
df2_3.iloc[0]['col1']

1